<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528494922955-60shuhsjo684g1gbm10ff5bnuc501ole.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528494922955-60shuhsjo684g1gbm10ff5bnuc501ole</string>
	<key>API_KEY</key>
	<string>AIzaSyABuEmLgy8OhjkEG0ZH1mUZ0Uj6RG3smQo</string>
	<key>GCM_SENDER_ID</key>
	<string>528494922955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cabDriver</string>
	<key>PROJECT_ID</key>
	<string>cabdriver-ebbd4</string>
	<key>STORAGE_BUCKET</key>
	<string>cabdriver-ebbd4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528494922955:ios:01db27e1f7b354bd3e9f4e</string>
	<key>DATABASE_URL</key>
	<string>https://cabdriver-ebbd4-default-rtdb.firebaseio.com</string>
</dict>
</plist>